.coluna-produtos {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  justify-content: center; /* Centraliza os itens horizontalmente */
  gap: 5rem; /* Espaçamento entre os produtos */
  padding: 10px; /* Espaçamento interno para o container */
}

.produto {
  max-width: calc(33.333% - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.produto:hover {
  transform: scale(1.05);
}

.imagem-container {
  width: 163px;
  height: 163px;
  overflow: hidden;
  border-radius: 8px;
}

.imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informacoes {
  margin-top: 10px;
}

/* Botão */
button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .produto {
    flex: 1 1 calc(50% - 1rem); /* Dois produtos por linha em tablets */
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .produto {
    flex: 1 1 100%; /* Um produto por linha em dispositivos móveis */
    max-width: 100%;
  }

  .coluna-produtos {
    gap: 1rem; /* Reduz o espaço entre os produtos em telas menores */
  }
}
