<div class="footer">

  <div class="collumn-1-footer">
    <div class="content-img-logo-footer">
      <img src="style-makers-rf.png" alt="" class="logo-footer">
    </div>

    <div class="content-informations-footer">
      <div class="icon-description-footer">
        <div>
          <img src="telefonema.png" alt="" class="icon-footer">
        </div>
        <div>
          <span class="informations-footer-collumn1"><a href="">11 9999-8888</a></span>
        </div>
      </div>

      <div class="icon-description-footer">
        <img src="whatsapp.png" alt="" class="icon-footer">
        <span class="informations-footer-collumn1"><a href="">11 96778-98776</a></span>
      </div>

      <div class="icon-description-footer">
        <img src="email.png" alt="" class="icon-footer">
        <span class="informations-footer-collumn1"><a href="">gabrielalexandrinooutlook.com</a></span>
      </div>
    </div>


    <div class="content-informations-footer">
      <div class="icon-social-media">
        <span class="informations-footer"><a href=""><img src="facebook.png" alt="" class="icon-footer-social-media"></a></span>
        <span class="informations-footer"><a href=""><img src="instagram.png" alt="" class="icon-footer-social-media"></a></span>
        <span class="informations-footer"><a href=""><img src="whatsapp.png" alt="" class="icon-footer-social-media"></a></span>
      </div>
    </div>
  </div>



  <div class="collumn-2-footer">
    <div>
      <h1>Institucional</h1>
    </div>

    <div class="content-informations-footer">
      <span class="informations-footer"><a href="">Empresa</a></span>
      <span class="informations-footer"><a href="">Produtos</a></span>
      <span class="informations-footer"><a href="">Depoimentos</a></span>
      <span class="informations-footer"><a href="">Blog</a></span>
      <span class="informations-footer"><a href="">Contato</a></span>
    </div>
  </div>


  <div class="collumn-3-footer">
    <div>
      <h1>Central de ajuda</h1>
    </div>

    <div class="content-informations-footer">
      <span class="informations-footer"><a href="">Como comprar</a></span>
      <span class="informations-footer"><a href="">Comprando na Style Makers</a></span>
      <span class="informations-footer"><a href="">Formas de pagamento</a></span>
      <span class="informations-footer"><a href="">Frete e entrega</a></span>
      <span class="informations-footer"><a href="">Personalização</a></span>
      <span class="informations-footer"><a href="">Quero montar o meu kit</a></span>
      <span class="informations-footer"><a href="">Serviços e promoções</a></span>
      <span class="informations-footer"><a href="">Trocas e devoluções</a></span>
    </div>
  </div>



  <div class="collumn-4-footer">
    <div>
      <h1>Categorias</h1>
    </div>

    <div class="content-informations-footer">
      <span class="informations-footer"><a href="">Plus Size</a></span>
      <span class="informations-footer"><a href="">Algodão</a></span>
      <span class="informations-footer"><a href="">Polo</a></span>
      <span class="informations-footer"><a href="">Moletom</a></span>
      <span class="informations-footer"><a href="">Poliéster</a></span>
      <span class="informations-footer"><a href="">PV / Malha fria</a></span>
      <span class="informations-footer"><a href="">DryFit</a></span>
      <span class="informations-footer"><a href="">Fitness</a></span>
      <span class="informations-footer"><a href="">Mesclada</a></span>
      <span class="informations-footer"><a href="">Meia</a></span>
    </div>
  </div>



  <div class="collumn-5-footer">
    <div class="content-informations-footer">
      <div class="icon-payment">
        <span class="informations-footer"><a href=""><img src="visa.png" alt="" class="icon-footer-payment"></a></span>
        <span class="informations-footer"><a href=""><img src="card.png" alt="" class="icon-footer-payment"></a></span>
        <span class="informations-footer"><a href=""><img src="pix.png"  alt="" class="icon-footer-payment"></a></span>
      </div>
    </div>
  </div>
</div>

<div class="whatsapp-fixed">
  <a href="https://wa.me/11988004463" target="_blank">
    <img src="whatsapp-fixed.png" alt="WhatsApp Logo" class="logo-whatsapp-fixed">
  </a>
</div>


<div class="footer-nova-busca">
  <h3>© Nova Busca Web Tecnologia - CNPJ: 00.000.000/0000-00 - Rua Alameda Tutóia 01 - Torres Tibagy - Guarulhos/ São Paulo</h3>
</div>
