
<body>
  <div class="header">
  <div class="header-static"></div>

  <div class="informations-manufacturer">
    <div class="informations-content">
      <div class="informations">
        <span class="static-informations">
          <a href="https://wa.me/11988004463?text=Olá,%20gostaria%20de%20mais%20informações" target="_blank" class="link-header-contact">
            <img src="whatsapp.png" alt="" class="icon-header">
          </a>
        </span>
      </div>

      <div class="informations">
        <span class="static-informations">
          <a href="mailto:email@example.com?subject=Assunto%20do%20Email&body=Olá,%20gostaria%20de%20mais%20informações" target="_blank" class="link-header-contact">
            <img src="email.png" alt="Ícone de Email" class="icon-header">
          </a>
        </span>
      </div>

      <div class="informations">
        <span class="static-informations">
          <a href="https://www.instagram.com/style_makersbr/"  target="_blank" class="link-header-contact">
            <img src="instagram.png" alt="" class="icon-header">
          </a>
      </span>
      </div>
    </div>

    <div class="informations-content">
      <div class="informations-content">
        <!-- <div class="informations">
          <span class="static-informations"><a href="" class="link-header-contact">Blog</a></span>
      </div> -->
      <div class="informations">
        <span class="static-informations"><a href="/quem-somos" class="link-header-contact">Quem somos</a></span>
      </div>
      <div class="informations">
        <span class="static-informations"><a href="" class="link-header-contact">Dúvidas</a></span>
      </div>
      <div class="informations">
        <span class="static-informations"><a href="" class="link-header-contact">Depoimentos</a></span>
      </div>
      <div class="informations">
        <span class="static-informations"><a href="" class="link-header-contact">Fale conosco</a></span>
      </div>
    </div>
  </div>
  </div>


  <div class="options-for-client">
    <div class="logo-style">
        <!-- <a href=""><img src="" alt="" class="img-logo"></a> -->
        <span style="display: flex; margin-top: 37px;">LOGO AQUI </span>
    </div>
    <div class="search-shopping-cart">
      <div class="search-icon">
        <div class="input">
          <input placeholder="O que você procura?" class="search">
        </div>
        <div class="icon">
          <img src="lupa.png" alt="" class="lupa">
        </div>
      </div>

      <div class="track-order">
        <span (click)="abrirModal()">Acompanhar pedido</span>
      </div>

<!-- Ícone do Carrinho -->
<div class="block-shopping-cart">
  <img
    src="carrinho-de-compras.png"
    alt="Carrinho de compras"
    class="shopping-cart"
    (click)="toggleCarrinho()"
  />
</div>

<!-- Menu do Carrinho (Overlay Deslizante) -->
<div class="carrinho-overlay" [class.ativo]="mostrarCarrinho">
  <div class="carrinho-dropdown">
    <h3>Itens no Carrinho</h3>
    <div *ngIf="itensCarrinho.length > 0; else carrinhoVazio">
      <ul>
        <li *ngFor="let item of itensCarrinho">
          <div>
            <img [src]="item.produto.imagem" alt="Imagem do produto" width="50" />
            <p>{{ item.produto.tamanho }} - {{ item.produto.preco }}</p>
            <p>Quantidade: {{ item.quantidade }}</p>
          </div>
          <button (click)="removerDoCarrinho(item.produto)">Remover</button>
        </li>
      </ul>
      <p><strong>Total:</strong> R$ {{ totalValor.toFixed(2) }}</p>
    </div>
    <ng-template #carrinhoVazio>
      <p>O carrinho está vazio.</p>
    </ng-template>
    <button class="fechar-carrinho" (click)="toggleCarrinho()">Fechar</button>
  </div>
</div>




  </div>
</div>

<div class="options-clothes">

<!-- FOR MOBILE -->
<div class="menu-mobile">
  <div class="content-icon-menu" (click)="toggleMenu()">
    <img src="/menu-mobile.png" alt="" class="icon-menu">
  </div>
  <div class="overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>
  <div class="sidebar" [class.open]="isMenuOpen">
    <ul>
      <div class="button-close">
        <button class="close-btn" (click)="closeMenu()">X</button>
      </div>
      <li><h1 class="title-sidebar">Por gênero</h1></li>
      <li><a href="/masculinas" class="link-sidebar">masculino</a></li>
      <li><a href="#" class="link-sidebar">feminino</a></li>
      <hr>
      <li><a href="#" class="link-sidebar">Por categoria</a></li>
      <li><a href="#" class="link-sidebar">Plus Size</a></li>
      <li><a href="#" class="link-sidebar">Algodão</a></li>
      <!-- <li><a href="#" class="link-sidebar">Polo</a></li> -->
      <!-- <li><a href="#" class="link-sidebar">Moletom</a></li> -->
      <!-- <li><a href="#" class="link-sidebar">Poliéster</a></li> -->
      <li><a href="#" class="link-sidebar">PV / Malha fria</a></li>
      <li><a href="#" class="link-sidebar">DryFit</a></li>
      <!-- <li><a href="#" class="link-sidebar">Infantil</a></li> -->
      <li><a href="#" class="link-sidebar">Fitiness</a></li>
      <!-- <li><a href="#" class="link-sidebar">Mesclada</a></li> -->
      <li><a href="/personalizacao" class="link-sidebar">Personalização</a></li>
      <hr>
      <li><h1 class="title-sidebar">Por característica</h1></li>
      <li><a href="#" class="link-sidebar">Inverno</a></li>
      <li><a href="#" class="link-sidebar">Básicos</a></li>
      <li><a href="#" class="link-sidebar">Uniforme</a></li>
      <hr>
      <li><h1 class="title-sidebar">Central de ajuda</h1></li>
      <li><a href="/quem-somos" class="link-sidebar">Quem somos</a></li>
      <!-- <li><a href="#" class="link-sidebar">Blog</a></li> -->
      <li><a href="#" class="link-sidebar">Informações</a></li>
      <li><a href="#" class="link-sidebar">Depoimentos</a></li>
      <li><a href="#" class="link-sidebar">Fale conosco</a></li>
    </ul>
  </div>
  <div class="logo-style-mobile">
    <a href=""><img src="style-makers-rf.png" alt="" class="img-logo"></a>
  </div>

<!-- Ícone do Carrinho -->
<div class="block-shopping-cart-mobile">
  <img
    src="carrinho-de-compras.png"
    alt="Carrinho de compras"
    class="shopping-cart"
    (click)="toggleCarrinho()"
  />
</div>

<!-- Menu do Carrinho (Overlay Deslizante) -->
<div class="carrinho-overlay" [class.ativo]="mostrarCarrinho">
  <div class="carrinho-dropdown">
    <h3>Itens no Carrinho</h3>
    <div *ngIf="itensCarrinho.length > 0; else carrinhoVazio">
      <ul>
        <li *ngFor="let item of itensCarrinho">
          <div>
            <img [src]="item.produto.imagem" alt="Imagem do produto" width="50" />
            <p>{{ item.produto.tamanho }} - {{ item.produto.preco }}</p>
            <p>Quantidade: {{ item.quantidade }}</p>
          </div>
          <button (click)="removerDoCarrinho(item.produto)">Remover</button>
        </li>
      </ul>
      <p><strong>Total:</strong> R$ {{ totalValor.toFixed(2) }}</p>
    </div>
    <ng-template #carrinhoVazio>
      <p>O carrinho está vazio.</p>
    </ng-template>
    <button class="fechar-carrinho" (click)="toggleCarrinho()">Fechar</button>
  </div>
</div>
</div>
<div class="input-search-mobile">
<div class="input-mobile">
  <input placeholder="O que você procura?" class="search-mobile">
</div>
<div class="icon-lupa-mobile">
  <img src="lupa.png" alt="" class="lupa-mobile">
</div>
</div>
<!-- <-- --------- -->


  <div class="options">
  <span class="option"><a class="link" href="/masculinas">Masculino</a></span>
  </div>
  <div class="options">
    <span class="option"><a class="link" href="">Feminino</a></span>
  </div>
  <div class="options">
    <span class="option"><a class="link" href="">Plus Size</a></span>
  </div>
  <div class="options">
    <span class="option"><a class="link" href="">Algodão</a></span>
  </div>
  <!-- <div class="options">
    <span class="option"><a class="link" href="">Polo</a></span>
  </div> -->
  <!-- <div class="options">
    <span class="option"><a class="link" href="">Moletom</a></span>
  </div> -->
  <!-- <div class="options">
    <span class="option"><a class="link" href="">Poliéster</a></span>
  </div> -->
  <div class="options">
    <span class="option"><a class="link" href="">PV / Malha Fria</a></span>
  </div>
  <div class="options">
    <span class="option"><a class="link" href="">DryFit</a></span>
  </div>
  <!-- <div class="options">
    <span class="option"><a class="link" href="">Infantil</a></span>
  </div> -->
  <div class="options">
    <span class="option"><a class="link" href="">Fitness</a></span>
</div>
<div class="options">
  <span class="option"><a class="link" href="/personalizacao">Personalização</a></span>
</div>
</div>
  </div>

  <div class="modal" id="avisoModal">
    <div class="modal-content">
      <span class="close" (click)="fecharModal()">&times;</span>
      <h2>Acompanhar pedido</h2>
      <p>
        Após finalizar a compra, você poderá acompanhar o envio do seu pedido no site dos Correios. Assim que o vendedor fornecer o código de rastreamento, acesse o site:
        <a href="https://rastreamento.correios.com.br/app/index.php" target="_blank">https://rastreamento.correios.com.br</a>.
      </p>
<div>
  <img src="correios.png" alt="" class="img-modal">
</div>
      <p>
        Caso tenha dúvidas ou precise de mais informações, entre em contato com o vendedor pelo WhatsApp <a href="https://wa.me/11988004463?text=Olá,%20estou%20com%20problemas%20para%20acompanhar%20meu%20pedido%20,%20poderia%20me%20ajuda?" target="_blank">clique aqui para ser redirecionado para o atendimento</a>.
      </p>
<div class="button-modal">
  <button (click)="fecharModal()">Fechar</button>
</div>
</div>
  </div>
</body>


