<app-header></app-header>

<div class="site-personalizacao">
<div class="content-personalizacao">
<div class="title-subtitle-personalizacao">
  <h1 class="title-personalizacao">Personalize para sua empresa, sua marca ou para o seu evento</h1>
  <p class="subtitle-personalizacao">Na Style Makers você pode personalizar peças com descontos progressivos. Quanto maior a quantidade, maior o desconto!</p>
  <a href="https://wa.me/11988004463" target="_blank">
    <button class="orcamento">Faça um orçamento</button>
  </a>
</div>

<div class="content-img-personalizacao">
  <img src="personalizacao-style.png" alt="" class="img-personalizacao">
</div>
</div>


<div class="style-makers-sobre">
  <h1 class="title-sobre">Um pouco sobre a Style Makers</h1>
  <div class="description-sobre">
    <p class="subtitle-sobre">Empresa especializada em criar roupas personalizadas de acordo com os seus pedidos. Seja para a sua empresa, sua marca ou para o seu evento, transformamos suas ideias em peças únicas e exclusivas, com atenção aos detalhes e um toque artesanal em cada bordado.</p>
  </div>
  <div class="content-options-sobre">
    <div class="block-options-sobre">
      <span class="options-sobre">Rápida Entrega</span>
      <img src="checked.png" alt="">
    </div>

    <div class="block-options-sobre">
      <span class="options-sobre">Personalização Completa</span>
      <img src="checked.png" alt="">
    </div>

    <div class="block-options-sobre">
      <span class="options-sobre">Qualidade Superior</span>
      <img src="checked.png" alt="">
    </div>

    <div class="block-options-sobre">
      <span class="options-sobre">Atendimento Excepcional</span>
      <img src="checked.png" alt="">
    </div>

    <div class="block-options-sobre">
    <span class="options-sobre">Preços Competitivos</span>
    <img src="checked.png" alt="">
    </div>

  </div>

  <div class="content-options-sobre">

    <div class="block-options-sobre">
      <span class="options-sobre">Flexibilidade de Pedidos</span>
      <img src="checked.png" alt="">
    </div>

    <div class="block-options-sobre">
      <span class="options-sobre">Sustentabilidade</span>
      <img src="checked.png" alt="">
    </div>

    <div class="block-options-sobre">
      <span class="options-sobre">Inovação e Criatividade</span>
      <img src="checked.png" alt="">
    </div>

    <div class="block-options-sobre">
      <span class="options-sobre">Experiência e Expertise</span>
      <img src="checked.png" alt="">
    </div>
  </div>



</div>

<div class="conheca-produtos">
  <div class="bloco-title">
    <h1 class="title-conheca">Conheça nossos produtos. Personalizamos em estamparia ou bordado</h1>
  </div>
</div>

<div class="first-collumn-conheca">
<div class="height-bloco">
<img src="algodao-lisa.jpg" alt="" class="img-conheca">

<div class="description-img-conheca">
  <div>
  <h4>Algodão</h4>
  </div>
  <div class="bloco-circle-color">
    <div class="circle-color green"></div>
    <div class="circle-color yellow"></div>
    <div class="circle-color brown"></div>
  </div>
</div>
</div>

<div class="height-bloco">
<img src="polo-lisa.jpg" alt="" class="img-conheca">

<!-- <div class="description-img-conheca">
  <div>
  <h4>Polo</h4>
  </div>
  <div class="bloco-circle-color">
    <div class="circle-color wine"></div>
    <div class="circle-color neutral-green"></div>
    <div class="circle-color light-blue"></div>
  </div>
</div> -->
</div>

<div class="height-bloco">
<img src="dryfit-lisa.jpg" alt="" class="img-conheca">

<div class="description-img-conheca">
  <div>
  <h4>Dry fit</h4>
  </div>
  <div class="bloco-circle-color">
    <div class="circle-color light-green"></div>
    <div class="circle-color red"></div>
    <div class="circle-color baby-blue"></div>
  </div>
</div>
</div>
</div>

<div class="second-collumn-conheca">
  <div class="height-bloco">
<img src="poliester-lisa.jpg" alt="" class="img-conheca">

<!-- <div class="description-img-conheca">
  <div>
  <h4>Poliéster</h4>
  </div>
  <div class="bloco-circle-color">
    <div class="circle-color purple"></div>
    <div class="circle-color baby-blue"></div>
    <div class="circle-color light-red"></div>
  </div>
</div> -->
</div>

<div class="height-bloco">
<img src="malha-fria-lisa.jpg" alt="" class="img-conheca">

<div class="description-img-conheca">
  <div>
    <h4>Malha fria</h4>
  </div>
  <div class="bloco-circle-color">
    <div class="circle-color blue"></div>
    <div class="circle-color red"></div>
    <div class="circle-color orange"></div>
  </div>
</div>
</div>

<div class="height-bloco">
<img src="mescladas-lisa.jpg" alt="" class="img-conheca">

<!-- <div class="description-img-conheca">
  <div>
    <h4>Mescladas</h4>
  </div>
  <div class="bloco-circle-color">
    <div class="circle-color pink"></div>
    <div class="circle-color orange"></div>
    <div class="circle-color grey"></div>
  </div>
</div> -->
</div>
</div>

<div class="quality-bloco">
  <div class="description-quality-bloco">
<h1 class="title-quality">Qualidade, velocidade e preços imbatíveis!</h1>
  <p>Receba suas peças de forma rápida.</p>
  <p>Acompanhe sua entrega com código de rastreamento.</p>
  <p>Tenha um atendimento de ponta, exclusivo e personalizado.</p>
<a href="https://wa.me/11988004463" target="_blank">
  <button class="orcamento">Atendimento Personalizado</button>
</a>
  </div>

<div>
  <img src="sua-arte.png" alt="">
</div>
</div>


<div class="marcas-bloco">
  <h1 class="title-marcas">Algumas das empresas que já conhecem nossos serviços</h1>

  <div class="description-marcas-bloco">

    <div class="column-logos">
      <img src="fs_promotora_logo.jfif" alt="" title="FS Promotora">
      <img src="marcos_clinica_logo.jfif" alt="" title="Marcos Clinica Psiquiátrica">
      <img src="pro_solution_logo.png" alt="" title="Pro Solution Grupo">
    </div>

    <div class="column-logos">
      <img src="dga_logistica_logo.jfif" alt="" title="DGA Logística">
      <img src="varal_grifes_logo.jfif" alt="" title="Varal das Grifes">
      <img src="sellim_marcenaria.jfif" alt="" title="Sellim Marcenaria">
    </div>

    <div class="column-logos">
      <img src="mendes_tecnologia_logo.jfif" alt="" title="Mendes Tecnologia">
      <img src="tecnologia_arquitetura_logo.jfif" alt="" title="Architecture Technological">
      <img src="logo_barbeiro.png" alt="" title="Biel Cortes">
    </div>
  </div>
</div>



<div class="duvidas-frequentes">
<h1 class="title-duvidas">Dúvidas Frequentes</h1>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mínimo ou máximo de peças para personalizar?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>A quantidade mínima para personalização é de 50 peças e o máximo é de quantas peças tivermos em estoque</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quais produtos posso personalizar?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>todos os produtos de nosso site podem ser Bordados.
      Silk-Screen: Todos os produtos de nosso site podem ser estampados nesse métodos Silk-Screen.</p>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        O que é estamparia Silk-Screen?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Silk-Screen ou Serigrafia é a técnica de aplicar um desenho, arte ou figura em uma superfície com tinta através de uma tela,
      essas telas contêm micro furos que configuram a imagem ou uma parcial dela. Por quê parcial? Caso a arte tenha mais que uma
      cor em seu desenvolvimento é usado uma tela para cada tom de cores.</p>
  </mat-expansion-panel>



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Como faço para começar a personalizar?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Muito fácil basta apenas enviar uma mensagem em nosso WhatsApp clicando <a href="https://wa.me/11988004463" target="_blank">aqui</a>.
      </p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Como funciona o desconto progressivo?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      É simples Em quanto maior a quantidade de peças você escolher maior o desconto.
      </p>
  </mat-expansion-panel>
  <!-- Adicione mais painéis conforme necessário -->



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Qual o horário de atendimento?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      O atendimento é de segunda a sexta-feira das 09:00 até 19:00 exceto feriados.
      </p>
  </mat-expansion-panel>
  <!-- Adicione mais painéis conforme necessário -->



  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quais técnicas de estamparia utilizamos?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      Depende do seu produto. Temos Silk screen (Aplicação de tinta) e o Bordado.
      </p>
  </mat-expansion-panel>
  <!-- Adicione mais painéis conforme necessário -->


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Em qual formato devo enviar meu arquivo?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      As imagens podem ser enviadas nos formatos: JPEG, PDF, PNG, EPS, estas imagens devem estar em alta definição, pois a qualidade da estampa depende disso
      </p>
  </mat-expansion-panel>
  <!-- Adicione mais painéis conforme necessário -->
</mat-accordion>
</div>
</div>

<app-footer></app-footer>
