<app-header></app-header>




<div class="carousel">
  <button class="carousel-button prev" (click)="prevImage()">&#10094;</button>
  <ng-container *ngIf="images[currentIndex] === 'img-1.png' || images[currentIndex] === 'img-3.png'; else normalImage">
    <a href="/personalizacao">
      <img [src]="images[currentIndex]" alt="Imagem do Carrossel">
    </a>
  </ng-container>
  <ng-template #normalImage>
    <img [src]="images[currentIndex]" alt="Imagem do Carrossel">
  </ng-template>
  <button class="carousel-button next" (click)="nextImage()">&#10095;</button>
</div>

<div class="informations-img">
  <div class="content-icon-information">
    <div>
      <img src="linha-de-montagem (1).png" alt="" class="icon-informations">
    </div>
    <div>
      <span class="informations">Produção própria</span>
    </div>
    <div>
      <hr class="vertical-hr">
    </div>
  </div>
  <div class="content-icon-information">
    <div>
      <img src="entrega-rapida (1).png" class="icon-informations">
    </div>
    <div>
      <span class="informations">Frete rápido e eficiênte</span>
    </div>
    <div>
      <hr class="vertical-hr">
    </div>
  </div>
  <div class="content-icon-information">
    <div>
      <img src="seguro.png" class="icon-informations">
    </div>
    <div>
      <span class="informations">Compra 100% segura</span>
    </div>
    <div>
      <hr class="vertical-hr">
    </div>
  </div>
  <div class="content-icon-information">
    <div>
      <img src="parcelamento.png" class="icon-informations">
    </div>
    <div>
      <span class="informations">Parcela até 3x</span>
    </div>
  </div>
</div>



<div class="title">
  <h1>Feminino</h1>
</div>

<div class="female-options">
  <div
    class="img-option-description"
    *ngFor="let image of currentImagesFemale"
  >
    <div>
      <img [src]="image.src" alt="" class="img-option" />
    </div>
    <div>
      <span class="description">{{ image.description }}</span>
    </div>
  </div>
</div>

<div class="pagination" *ngIf="isMobile">
  <span
    class="dot"
    *ngFor="let dot of paginationDotsFemale; let i = index"
    [class.active]="i === currentPageFemale"
    (click)="setCurrentPageFemale(i)"
  ></span>
</div>

<div class="title">
  <h1>Masculino</h1>
</div>

<div class="male-options">
  <div
    class="img-option-description"
    *ngFor="let image of currentImagesMale"
  >
    <div>
      <img [src]="image.src" alt="" class="img-option" />
    </div>
    <div>
      <span class="description">{{ image.description }}</span>
    </div>
  </div>
</div>

<div class="pagination" *ngIf="isMobile">
  <span
    class="dot"
    *ngFor="let dot of paginationDotsMale; let i = index"
    [class.active]="i === currentPageMale"
    (click)="setCurrentPageMale(i)"
  ></span>
</div>

<div class="space-content">
  <div class="content-img-quality">
    <H1 style="font-size: 5rem;">FAZER BLOCO JA EXIBINDO OS PRODUTOS, COMO KITS , CAMISETAS ETC ...</H1>
  </div>
</div>




<div class="collumn-seu-negocio">

<div class="content-title-img-seungc">
  <div class="title-seungc">
    <h2>Para o seu negócio</h2>
  </div>
  <div class="image-content-background-1">
<img src="camisa-seungc.png" alt="" class="img-seu-negocio">
    <div class="description-seungc">
      <div class="ofertas-content">
      <p class="ofertas">Ofertas imperdiveis para</p>
        <p class="revender">REVENDER</p>
      </div>
      <div>
      <button class="button-aproveite">Aproveite</button>
      </div>
    </div>
</div>
</div>

<div class="image-content-background-2">
    <img src="camisa-seungc.png" alt="" class="img-seu-negocio">
    <div class="description-seungc">
      <div class="ofertas-content">
      <p class="ofertas">Ofertas imperdiveis para</p>
        <p class="personalizar">PERSONALIZAR</p>
      </div>
      <div>
      <a href="/personalizacao"><button class="button-aproveite">Aproveite</button></a>
      </div>
    </div>
  </div>

  <div class="image-content-background-3">
    <img src="camisa-seungc.png" alt="" class="img-seu-negocio">
    <div class="description-seungc">
      <div class="ofertas-content">
      <p class="ofertas">Ofertas imperdiveis para</p>
        <p class="uniformizar">UNIFORMIZAR</p>
      </div>
      <div>
      <button class="button-aproveite">Aproveite</button>
      </div>
    </div>
  </div>

</div>



<app-footer></app-footer>
