
/* div{
  display: flex;
  justify-content: center;
} */

.carousel {
  position: relative;
  margin: auto;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}


.informations-img{
  background-color: #006594;
  display: flex;
  justify-content: center;
  margin-top: -4px;

  .content-icon-information{
    display: flex;
    align-items: center;
    gap: 10px;

    .icon-informations{
      width: 25px;
      height: 25px;
    }
    .informations{
      font-size: 0.85rem;
      color: #fff;
      padding-top: 28px;
      padding-right: 41px;
    }
    .vertical-hr {
      border: none;
      border-left: 2px solid #fff;
      height: 25px;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      margin-top: 25px;
      margin-bottom: 25px;
      padding-right: 20px;
    }
  }
}
@media (max-width: 700px) {
  .content-icon-information{
    display: none !important;
  }
  }

  .title {
    text-align: center;
  }

  .male-options, .female-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .img-option-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .img-option {
    width: 163px;
    height: 163px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .description {
    text-align: center;
    color: #616877;
    font-size: 0.85rem;
  }

  .pagination {
    text-align: center;
    margin-top: 20px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .dot.active {
    background-color: #006594;
  }

  @media (min-width: 768px) {
    .pagination {
      display: none;
    }
  }

  .space-content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .content-img-quality {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
  }

  .img-quality {
    max-width: 100%;
    height: 420px; /* Define a altura fixa para dispositivos maiores */
    width: auto;
    cursor: pointer;
  }

  @media (max-width: 830px) {
    .space-content {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .content-img-quality {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .img-quality {
      height: auto; /* Remove a altura fixa para dispositivos menores */
    }
  }

  @media (max-width: 1080px) {
    .space-content {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .content-img-quality {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .img-quality {
      height: auto; /* Remove a altura fixa para dispositivos menores */
    }
  }


