<app-header></app-header>
<div class="carousel">
  <div class="carousel-container" [style.transform]="getTransform()" [style.transition]="transitionStyle">
    <div *ngFor="let image of images" class="imagens-carousel">
      <a [routerLink]="image.rota">
        <img [src]="image.src" alt="Imagem do Carrossel">
      </a>
    </div>
  </div>
  <button class="carousel-button prev" (click)="prevImage()">&#10094;</button>
  <button class="carousel-button next" (click)="nextImage()">&#10095;</button>
</div>

<div class="informations-img">
  <div class="content-icon-information">
    <div>
      <img src="linha-de-montagem (1).png" alt="" class="icon-informations">
    </div>
    <div>
      <span class="informations">Produção própria</span>
    </div>
    <div>
      <hr class="vertical-hr">
    </div>
  </div>
  <div class="content-icon-information">
    <div>
      <img src="entrega-rapida (1).png" class="icon-informations">
    </div>
    <div>
      <span class="informations">Frete rápido e eficiênte</span>
    </div>
    <div>
      <hr class="vertical-hr">
    </div>
  </div>
  <div class="content-icon-information">
    <div>
      <img src="seguro.png" class="icon-informations">
    </div>
    <div>
      <span class="informations">Compra 100% segura</span>
    </div>
    <div>
      <hr class="vertical-hr">
    </div>
  </div>
  <div class="content-icon-information">
    <div>
      <img src="parcelamento.png" class="icon-informations">
    </div>
    <div>
      <span class="informations">Parcela até 3x</span>
    </div>
  </div>
</div>



<div class="title">
  <h1>Feminino</h1>
</div>

<div class="female-options">
  <div
    class="img-option-description"
    *ngFor="let image of currentImagesFemale"
  >
    <div class="background-imgs-option">
      <img [src]="image.src" alt="" class="img-option" />
    </div>
      <div class="content-description">
      <span class="description">{{ image.description }}</span>
    </div>
  </div>
</div>

<div class="pagination" *ngIf="isMobile">
  <span
    class="dot"
    *ngFor="let dot of paginationDotsFemale; let i = index"
    [class.active]="i === currentPageFemale"
    (click)="setCurrentPageFemale(i)"
  ></span>
</div>


<div class="title">
  <h1>Masculino</h1>
</div>

<div class="male-options">
  <div
    class="img-option-description"
    *ngFor="let image of currentImagesMale"
  >
    <div class="background-imgs-option">
      <img [src]="image.src" alt="" class="img-option" />
    </div>
    <div class="content-description">
      <span class="description">{{ image.description }}</span>
    </div>
  </div>
</div>

<div class="pagination" *ngIf="isMobile">
  <span
    class="dot"
    *ngFor="let dot of paginationDotsMale; let i = index"
    [class.active]="i === currentPageMale"
    (click)="setCurrentPageMale(i)"
  ></span>
</div>

<div class="bloco-mais-vendidos">
  <div class="title-bloco-mais-vendidos">
    <H3>Os produtos tops mais vendidos</H3>
  </div>

  <app-coluna-produtos
  [produtos]="[
    { imagem: 'camiseta_masculina.png', preco: 'R$ 49,90', tamanho: 'M', pagamento: 'Pix ou Cartão' },
    { imagem: 'camiseta_masculina.png', preco: 'R$ 59,90', tamanho: 'G', pagamento: 'Pix ou Boleto' },
    { imagem: 'camiseta_masculina.png', preco: 'R$ 69,90', tamanho: 'P', pagamento: 'Cartão em 2x' },
    { imagem: 'camiseta_masculina.png', preco: 'R$ 79,90', tamanho: 'GG', pagamento: 'Pix' },
    { imagem: 'camiseta_masculina.png', preco: 'R$ 89,90', tamanho: 'M', pagamento: 'Cartão em 3x' }
  ]"
></app-coluna-produtos>

</div>


<div class="bloco-estilo-conforto">
  <img src="estilo-homem-bloco.png" alt="">
</div>


<div class="collumn-seu-negocio">

<div class="content-title-img-seungc">
  <div class="title-seungc">
    <h2>Para o seu negócio</h2>
  </div>
  <div class="image-content-background-1">
<img src="camisa-seungc.png" alt="" class="img-seu-negocio">
    <div class="description-seungc">
      <div class="ofertas-content">
      <p class="ofertas">Ofertas imperdíveis para</p>
        <p class="revender">REVENDER</p>
      </div>
      <div>
      <button class="button-aproveite">Aproveite</button>
      </div>
    </div>
</div>
</div>

<div class="image-content-background-2">
    <img src="camisa-seungc.png" alt="" class="img-seu-negocio">
    <div class="description-seungc">
      <div class="ofertas-content">
      <p class="ofertas">Ofertas imperdíveis para</p>
        <p class="personalizar">PERSONALIZAR</p>
      </div>
      <div>
      <a href="/personalizacao"><button class="button-aproveite">Aproveite</button></a>
      </div>
    </div>
  </div>

  <div class="image-content-background-3">
    <img src="camisa-seungc.png" alt="" class="img-seu-negocio">
    <div class="description-seungc">
      <div class="ofertas-content">
      <p class="ofertas">Ofertas imperdíveis para</p>
        <p class="uniformizar">UNIFORMIZAR</p>
      </div>
      <div>
      <button class="button-aproveite">Aproveite</button>
      </div>
    </div>
  </div>

</div>


<div class="bloco-clientes-confiam">
  <img src="clientes-confiamimg.png" alt="">
</div>

<div>
  <h1>Os clientes confiam na Style Makers, confira o que eles dizem sobre nós</h1>
</div>


<!-- <app-music-modal></app-music-modal> -->

<app-footer></app-footer>
