.content-quem-somos{
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-top: 35px;
}

.description-quem-somos{
  display: flex;
  flex-direction: column;
  max-width: 740px;
}
.title-quem-somos{
  font-size: 32px;
  font-weight: 600;
  font-family: sans-serif;
  color: #01204f;
  margin: 0px;
  max-width: 500px;
  margin-top: 3rem;
}

.paragraph{
font-size: 19px;
}

.content-img-quem-somos{
  margin-top: 3rem;
}

.membros-empresa-img{
  width: 406px;
  height: 306px;
}

.content-objetivos{
  display: flex;
  width: 100%;
  justify-content: center;
}
.content-list-objetivos{
  display: flex;
  max-width: 1308px;
  gap: 13rem;
}

.block-objetivos{
  max-width: 430px;
}

@media (max-width: 1280px) {
  .content-list-objetivos{
    padding: 10px;
  }
  .description-quem-somos{
    padding: 10px;
  }
  .content-img-quem-somos{
    padding: 10px;
  }
}

@media (max-width: 853px) {
  .content-quem-somos {
    display: block !important;
  }
  .content-list-objetivos{
    display: block !important;
    padding: 10px;
  }
  .content-objetivos{
    display: block !important;
  }
  .description-quem-somos{
    padding: 10px;
  }
  .content-img-quem-somos{
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}



@media (max-width: 430px) {
  .membros-empresa-img {
    max-width: 370px;
    height: 270px;
  }
}
