<app-header></app-header>
<div class="content-quem-somos">
<div class="description-quem-somos">
<h1 class="title-quem-somos">Sobre a Style Makers</h1>

<p class="paragraph">Somos uma empresa de confecção de moda masculina, feminina e uniformes, focada em propor <b>experiências que vão além do vestir.</b>
  a Style Makers foi fundada no ano de 2022 pelos irmãos Gabriel e Gustavo, juntamente com seu pai Washington, uma empresa familiar que sempre buscou levar a <b>melhor experiência para os seus clientes</b>, proporcionando <b>facilidade</b> para micro e macro empresas.
</p>

<p class="paragraph">Nos destacamos ainda por oferecer uma moda jovem, inovadora, diversa e inclusiva para mulheres, homens e crianças. <b>Defendemos a moda como um dos mais fundamentais canais de conexão das pessoas consigo mesmas</b> e com todos à sua volta, por isso, colocamos <b>nossos clientes no centro da estratégia.</b></p>
<h1 class="title-quem-somos">Principais objetivos da empresa</h1>
</div>




<div class="content-img-quem-somos">
  <img src="membros-empresa.jpeg" alt="" class="membros-empresa-img">
</div>
</div>

<div class="content-objetivos">

  <div class="content-list-objetivos">

        <div class="block-objetivos">
          <h1 class="title-quem-somos">Missão</h1>
          <p class="paragraph">Crescer como negócio de moda preferido pelos brasileiros, com calor humano e evolução contínua dos nossos produtos, serviços e experiências.</p>
        </div>

    <div class="block-objetivos">
      <h1 class="title-quem-somos">Visão</h1>
      <p class="paragraph">Tornar-se a empresa de moda mais <b>reconhecida, amada e admirada em todo o Brasil</b>, destacando-se pela <b>qualidade, inovação, estilo e compromisso em transformar vidas através da moda</b>, inspirando confiança e paixão em nossos clientes, parceiros e colaboradores.</p>
    </div>

    <div class="block-objetivos">
      <h1 class="title-quem-somos">Valores</h1>
      <p class="paragraph">Amamos cliente, moda e produto. <b>Dinamismo, trabalho em equipe, respeito, ética e diversidade são inegociáveis.</b> Nos divertimos e temos orgulho em pertencer.</p>
    </div>


  </div>


</div>
<div>
  <h1>Os clientes confiam na Style Makers, confira o que eles dizem sobre nós</h1>
</div>
<app-footer></app-footer>




